.vscode/system-objecttype-extensions.d.ts
node_modules/
allure-report
allure-results
test/acceptance/report/
output/
coverage/

npm-debug.log
cartridges.zip
*.zip
.idea/
.DS_Store
dw.json
.metadata
browserstack.err
local.log

**/.metadata

**/.metadata
/dist
dist/
.vscode/forms.d.ts
